// Copy this file to mqtt_secrets.h and provide your MQTT credentials.
#ifndef MQTT_SECRETS_H
#define MQTT_SECRETS_H

// MQTT broker username.
#define MQTT_USERNAME "your-mqtt-username"

// MQTT broker password.
#define MQTT_PASSWORD "your-mqtt-password"

#endif