# ESP-IDF Build & Config
build/
sdkconfig
sdkconfig.old

# Component Manager Output
managed_components/
dependencies.lock

# IDE & Editor files
.vscode/
.clangd
.cache/

# Python compiled files (used by ESP-IDF build scripts)
__pycache__/
*.pyc

# Testing and Logs (If you use pytest-embedded)
.pytest_cache/
pytest_embedded_log/

# MQTT credentials
main/mqtt_secrets.h

.agents
.codex
.vscode
.old